<div class="row">
    <div class="col-xs-12 col-sm-10 col-md-7 col-sm-offset-1 col-md-offset-2">
        <form (ngSubmit)="onSubmit()" #f="ngForm">
            <fieldset>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input 
                        type="email" 
                        id="email" 
                        class="form-control"
                        ngModel
                        name="email"
                        required
                        email
                        #email="ngModel">     
                    <small
                        class="help-text text-danger"
                        *ngIf="!email.valid && email.touched">Please enter a valid email</small>               
                </div>                
                <div class="form-group">
                    <label for="subscription">Subscription</label>
                    <select 
                        id="subscription" 
                        class="form-control"
                        [ngModel]="'basic'"
                        name="subscription">
                        <option value="basic">Basic</option>
                        <option value="advanced">Advanced</option>
                        <option value="pro">Pro</option>
                    </select>
                </div>    
                <div class="form-group">
                    <label for="password">Password</label>
                    <input 
                        type="password"
                        id="password" 
                        class="form-control"
                        ngModel
                        name="password"
                        required
                        #password="ngModel">
                    <small
                        class="help-text text-danger"
                        *ngIf="!password.valid && password.touched">Password cannot be left blank</small>               
                </div>            
                <button 
                    class="btn btn-primary" 
                    type="submit"
                    [disabled]="!f.valid">Submit</button>
            </fieldset>
        </form>
    </div>
</div>