<div class="container">
    <div class="row mt-3">
        <div class="col">
            <h3>I'm in the AppComponent</h3>
            <hr>
            <!-- <app-servers></app-servers>             -->
            <!-- <app-assign2></app-assign2> -->
            <!-- <app-assign3></app-assign3> -->
            <!-- <app-assign5></app-assign5> -->
            <!-- <app-section7></app-section7> -->
            <!-- <app-td-forms></app-td-forms> -->
            <!-- <app-assign6></app-assign6> -->
            <!-- <app-pipes></app-pipes> -->
            <!-- <app-assign8></app-assign8> -->
            <!-- <app-http-firebase></app-http-firebase> -->
            <app-auth></app-auth>
        </div>
    </div>
</div>

