<div class="row">
    <div class="col-xs-12">
        <form #authForm="ngForm" (submit)="onSubmit(authForm)">
            <div class="form-group">
                <label for="email">Email</label>
                <input 
                    type="email" 
                    class="form-control" 
                    id="email" 
                    ngModel
                    name="email"
                    required
                    email>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input 
                    type="password" 
                    class="form-control"
                    id="password"
                    ngModel
                    name="password"
                    required
                    minlength="6">
            </div>
            <div>
                <button class="btn btn-primary btn-sm" type="submit" [disabled]="!authForm.valid">
                    {{ isLoginMode ? 'Login' : 'SignUp' }}
                </button> | 
                <button class="btn btn-primary btn-sm" type="button" (click)="switchAuthMode()">
                    Switch to {{ isLoginMode ? 'SignUp' : 'Login' }}
                </button>
            </div>
        </form>
    </div>
</div>